# Define in Project Settings -> Environment Variables the following variables:
# DOCKERHUB_IMAGE=edgenexus/edgenexus-ingress (required)
# DOCKERHUB_PASSWORD=yourtoken (requied)
# DOCKERHUB_USERNAME=yourusername (required)
# DOCKERHUB_IMAGE_PREFIX=someprefix (optional)
version: 2.1
executors:
  docker-publisher:
    docker:
      - image: circleci/buildpack-deps:stretch
  go-test:
    docker:
      - image: cimg/go:1.22
jobs:
  test:
    executor: go-test
    steps:
      - checkout
      - run:
          name: Go format check
          command: |
            UNFORMATTED="$(gofmt -l .)"
            if [ -n "$UNFORMATTED" ]; then
              echo "The following files are not gofmt'd:"
              echo "$UNFORMATTED"
              exit 1
            fi
      - run:
          name: Go test
          command: go test ./...
      - run:
          name: Go vet
          command: go vet ./...
  build:
    executor: docker-publisher
    steps:
      - checkout
      # Docker BuildKit is available in non-default version
      - setup_remote_docker:
          version: 19.03.12
      # Redirect GIT_IMAGE_TAG into $BASH_ENV
      - run:
          name: "Setup environment variable with a lightweight Git tag"
          command: |
            LOCAL_GIT_IMAGE_TAG="$(git describe --tags --always)"
            echo Use lightweight Git tag: ${LOCAL_GIT_IMAGE_TAG}
            echo export GIT_IMAGE_TAG=\"${LOCAL_GIT_IMAGE_TAG}\" >> env
      - run:
          name: Login to Docker Hub to pull required images
          command: |
            echo "Log in using username $DOCKERHUB_USERNAME"
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
      - run:
          name: Build Docker image
          command: |
            make centos8-image TARGET=container PREFIX=$DOCKERHUB_IMAGE
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $DOCKERHUB_IMAGE:latest-centos8
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
            - ./env
  publish-tag:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            source /tmp/workspace/env

            if [ -z "${GIT_IMAGE_TAG}" ]; then
                echo "No Git tag in environment variable GIT_IMAGE_TAG" 1>&2
                exit 1
            fi
            DOCKERHUB_IMAGE_TAG=${GIT_IMAGE_TAG/v/''}

            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

            if [ -z "$DOCKERHUB_IMAGE_TAG" ]; then
                echo "Push Docker image with tags $DOCKERHUB_IMAGE_TAG and latest-centos8 (without prefix)"
                docker tag  $DOCKERHUB_IMAGE:latest-centos8 $DOCKERHUB_IMAGE:$DOCKERHUB_IMAGE_TAG-centos8
                docker push $DOCKERHUB_IMAGE:latest-centos8
                docker push $DOCKERHUB_IMAGE:$DOCKERHUB_IMAGE_TAG-centos8
            else
                echo "Push Docker image with tags $DOCKERHUB_IMAGE_TAG and latest-centos8 (with prefix defined as $DOCKERHUB_IMAGE_PREFIX)"
                docker tag  $DOCKERHUB_IMAGE:latest-centos8 $DOCKERHUB_IMAGE:${DOCKERHUB_IMAGE_PREFIX}latest-centos8
                docker tag  $DOCKERHUB_IMAGE:latest-centos8 $DOCKERHUB_IMAGE:${DOCKERHUB_IMAGE_PREFIX}${DOCKERHUB_IMAGE_TAG}-centos8
                docker push $DOCKERHUB_IMAGE:${DOCKERHUB_IMAGE_PREFIX}latest-centos8
                docker push $DOCKERHUB_IMAGE:${DOCKERHUB_IMAGE_PREFIX}${DOCKERHUB_IMAGE_TAG}-centos8
            fi
workflows:
  version: 2
  build-release:
    jobs:
      - test
      - build:
          filters:
            branches:
              only:
                - master
                - main
      - publish-tag:
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - main
